.principal-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 760px;
}

.mensagens-flex {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  overflow: scroll;
}

.mensagens-container {
  width: 100%;
  align-self: center;
}

.mensagem {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 3px;
  margin: 10px;
  border-bottom: 1px solid gray;
}

.mensagem img {
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}

.mensagem div {
  margin: 5px;
  font-family: sans-serif;
}

.mensagem div :first-child {
  font-weight: bold;
  margin-bottom: 3px;
  color: rgb(37, 123, 210);
}

.mensagem div :last-child {
  vertical-align: text-top;
  margin-bottom: 3px;
  color: grayscale($color: #212121);
}

.mensagem div :last-child img {
  margin: 3px;
  width: 70%;
  height: auto;
  border-radius: 0px;
}
.horario {
  color: gray;
  font-size: 13px;
  font-weight: normal;
}

.mensagem-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  background-color: rgb(167, 167, 167);
}

.mensagem-form img {
  width: 50px;
  margin: 5px;
  max-width: 50px;
}

input {
  width: 100%;
  height: 30px;
  margin: 5px;
  font-size: 18px;
  padding: 4px;
  padding-left: 8px;
}

input[type='file'] {
  display: none;
}

.percentual {
  width: auto;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
